* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
}

#container {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}
/*#container > div {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}*/

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.principal{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: lightgray 2px solid;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: lightgray 1px solid;
}

.colorRed {
    color: red;
}

.colorGreen {
    color: green;
}